<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../scripts/popup.js"></script>
  <style>
    body{
        background: #FAFAFA;
    }
  </style>
</head>

<!-- body -->
<body>
    <div id="header-3">Oops! Something went wrong &#x1F6D1</div>
    <div id="text-1">We encountered an issue during the redirection process.
Please give it another shot or check
our FAQs for possible solutions.</div>
<div id="error-code">Error: 404 Unauthorised</div>
</body>
</html>
