<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
</head>


<body>
    <div id="main-header-wrapper">
        <div id="main-header">
            <img src="../assert/title.png" alt="BNNDirect" id="main-header-1"> <span id="main-header-2">for Bloomberg</span>
            <!-- <span id="main-header-1">Redirect</span> <span id="main-header-2">for Bloomberg</span> -->
        </div>

        <div id="icon_external">
            <img src="..\assert\icon_external.png">
        </div>
    </div>

</body>

</html>