<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../scripts/popup.js"></script>
</head>

<!-- body -->

<body>

  <!-- header -->
  <iframe src="./popup_header.html" scrolling="no"></iframe>

  <div id="inner-body">
    <div id="header-3"> Your Key to Bloomberg Unlocked! &#128273</div>
    <div id="text-1">Activate the extension on a Bloomberg article
  and dive into unrestricted financial news.</div>
  </div>
  </div>
</body>

</html>