<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <link rel="stylesheet" type="text/css" href="../styles/loader.css">
  <script src="../scripts/popup.js"></script>
  <script type='text/javascript' src='../library/jquery.min.js'></script>



</head>

<!-- body -->

<body>
  <!-- header -->
  <iframe src="./popup_header.html" scrolling="no"></iframe>


  <div id="inner-body" >
    <div id="header-3"style="text-align:center"> Extracting content details</div>
    <div id="loader-body" >
      <div class="pending circle-loader loader-1 ">
        <div class="checkmark draw mark-1"></div>
      </div>

      <div class="rectangle"></div>


      <div class="pending circle-loader loader-2">
        <div class="checkmark draw mark-2"></div>
      </div>

      <div class="rectangle"></div>


      <div class="pending circle-loader loader-3">
        <div class="checkmark draw mark-3"></div>
      </div>


    </div>
  </div>
</body>

</html>